* {
    margin: 8px;
}

#mainHolder {
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    padding: 20px;
    border: 2px solid rgba(128, 128, 128, 20%);
    border-radius: 10px;
}

#signup-holder {
    width: 260px;
    text-align: center;
    border: 2px solid rgba(128, 128, 128, 20%);
    border-radius: 7px;
}

#input-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-input {
    margin: 2px;
    padding: 5px;
    width: 200px;
    border: 1.5px solid rgba(128, 128, 128, 20%);
    border-radius: 5px;
}

#instagram_logo {
    max-width: 150px;
}
